<h1 class="gameTitle">Kitty Karnage</h1>

<div class="mainTile" id="player_one">
  <%= render 'players/actions_form' %>
</div>

<div class="mainTile" id="gameBoard">
  <table>
    <tr>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
    </tr>
    <tr>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
    </tr>
    <tr>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
    </tr>
  </table>

<div class="mainTile" id="player_two">
  <%= render 'players/actions_form' %>
</div>


<%= submit_tag "Execute Commands", class: "execute_commands" %>

</div>
