<h1 class="gameTitle">Kitty Karnage</h1>

<div id="gameBoard">
  <table>
    <tr>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
    </tr>
    <tr>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
    </tr>
    <tr>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
      <td class="tile"></td>
    </tr>
  </table>

render '_actions_form'

render '_actions_form'

submit_tag "Execute Commands", class: "execute_commands"

</div>
