/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body {
  background-color: red;
 }
#page {
  width: 100%;
  height: 100%;
}
 .mainTile {
  display: inline-block;
 }

td.tile{
  background: url('boardTile.jpg') no-repeat center ;

  border: 1px solid gray;
  height: 150px;
  width: 150px;
  margin: 2px;
  text-align: center;
}

#kittygun {
  background-image:url('kittytitle.jpg');
/*  background-color: blue;*/
  display: inline-block;
  top: 0px;
  right:0px;
  width: 552px;
  height: 408px;
  float: left;
}

td.tile img {
  /*float: right;*/
}

h1 {
  color: red;
}

td.player_one
{
  background: url('P1Right.jpg') no-repeat center ;
  height: 150px;
  width: 150px;
  margin: 2px;
}

td.player_two
{
  background: url('P2Left.jpg') no-repeat center ;
  height: 150px;
  width: 150px;
  margin: 2px;
}
